<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scan Market</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css/">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css/">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

</head>

<body>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="logo  rounded text-center mb-2 ">
            <a href="/" class="ml-5">
                <h4 ><span class="font-weight-bold h2 " style="color: #7fad39;">Scan</span>Market</h4>
            </a>
        </div>

        <div class="humberger__menu__widget">
            
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul class="list1">
                <li class="active select_active"><a href="/">Home</a></li>
              
                <li><a class="select_active" href="#">Pages</a>
                    <ul class="header__menu__dropdown">

                        <li><a href="/shoping-cart">Shoping Cart</a></li>
                        <li><a href="/checkout">Check Out</a></li>
                        
                    </ul>
                </li>
              
                <li><a class="select_active" href="/contact">Contact</a></li>
                <li class=" select_active"><a href="#tabcontent">About us</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <%if(typeof userhedar !=="undefined" ){%>
                    <li><i class="fa fa-envelope"></i>
                        <%=userhedar%>
                    </li>
                    <% }else{ %>
                        <li><i class="fa fa-envelope"></i> you not Login</li>
                        <% } %>
                            <li>Free Shipping for all Order of JOD 99</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header__top__left">
                            <ul>
                                <%if(typeof userhedar !=="undefined" ){%>
                                    <li><i class="fa fa-envelope"></i>
                                        <%=userhedar%>
                                    </li>
                                    <%}else{%>
                                        <li><i class="fa fa-envelope"></i> you not Login</li>
                                        <%}%>
                                            <li>Free Shipping for all Order of JOD 99</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            
                            <div class="header__top__right__auth ">
                                <div class="header__top__left ">
                                    <ul>
                                        <%if(typeof userhedar !=="undefined" ){%>
                                            <a href="/logout-user"><i class="fas fa-sign-out-alt"></i> Logout</a>

                                            <% }else{ %>
                                                <li><a href="/login-user"><i class="fa fa-user"></i> Login</a></li>
                                                <li><a href="/register-user"><i class="fa fa-registered"></i>
                                                        Register</a></li>

                                                <% } %>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row ">
                <div class="col-lg-3">
                    <div class="logo  rounded text-center mb-3">
                        <a href="/" class="ml-5">
                            <h4><span class="font-weight-bold h2 " style="color: #7fad39;">Scan</span>Market</h4>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul class="select1" id="myTab">
                            <li><a class="select_active" id="home" href="/">Home</a></li>
                            <li><a class="select_active" href="#">Pages</a>
                                <ul class="header__menu__dropdown">

                                    <li><a href="/shoping-cart">Shoping Cart</a></li>
                                    <li><a href="/checkout">Check Out</a></li>
                                    
                                </ul>
                            </li>
                            <li><a id="contact" class="select_active" href="/contact">Contact</a></li>
                            <li class=" select_active"><a href="#tabcontent">About us</a></li>
                        </ul>

                    </nav>
                </div>

                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            
                                   
                            <%if( typeof cartlength1 !=="undefined" ){%>

                                <li class="countcart "><a href="/shoping-cart"><i class="fa fa-shopping-cart"></i> <span>
                                            <%=cartlength1%>
                                        </span></a></li>
                                <% } else {%>
                                    <li class="countcart"><a href="/shoping-cart"><i class="fa fa-shopping-cart"></i> <span>0</span></a>
                                    </li>

                                    <% }%>
                        </ul>
                        <%if(typeof total !=="undefined" ){%>
                            <div class="header__cart__price" >item: <span id="totalcart" class="totalorder"> <%=total.toFixed(2)%></span>JOD</div>
                            <% } else {%>
                                <div class="header__cart__price" >item: <span  id="totalcart" class="totalorder"> 0</span>JOD</div>

                                <% }%>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories" >
                        <div class="hero__categories__all" >
                            <i class="fa fa-bars"></i>
                            <span>All Categories</span>
                        </div>
                        <ul>
                            <% for (var i=0; i < allcategory.length; i++ ) { %>
                            <li><a href="/shop-grid/<%=allcategory[i].nameCategory%>?page=1&limit=9"><%=allcategory[i].nameCategory%></a></li>
                            <%}%>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>0797845275</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="tabcontent">
        <!-- Hero Section End -->