<%- include('partials/header'); -%>
    <div class="container">
        <div class="col-lg-12">
            <div style="margin-top:100px" class="card">
                <div class="card-header">
                    <strong>add new product</strong>
                </div>
                <div class="card-body ">
                    <form action="/addproduct" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">Static</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">Username admin</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="caption" class="form-control-label"> Input caption</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="caption"  name="caption" placeholder="Text" class="form-control">
                                <small class="form-text text-muted">This is a help text</small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label"> price</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="price" required name="price" placeholder="$0" class="form-control">
                                <small class="form-text text-muted"></small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="barcode" class=" form-control-label"> barcode</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="barcode" name="barcode" required placeholder="|bar|code|"
                                    class="form-control">
                                <small class="form-text text-muted"></small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="stored" class=" form-control-label"> stored</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="stored" name="stored" required placeholder="stored" class="form-control">
                                <small class="form-text text-muted"></small>
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="textarea-input" class=" form-control-label">Input description</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <textarea name="description" id="descriptiont" rows="9" required placeholder="Content..."
                                    class="form-control"></textarea>
                            </div>
                        </div>
                      

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="select" class=" form-control-label">Product department</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="select" id="select" class="form-control">
                                    <option value="0">Please select</option>
                                    <% for (var i=0; i < category.length; i++ ) { %>
                                    
                                    <option value="<%=category[i].nameCategory%>"><%=category[i].nameCategory%></option>
                                    <%}%>

                                </select>
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="im" class=" form-control-label">Multiple File input</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="file" id="im" name="im" class="form-control-file"
                                    accept="image/png, image/jpeg" multiple>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Add

                            </button>
                            <button type="reset" class="btn btn-danger btn-sm">
                                <i class="fa fa-ban"></i> Reset
                            </button>
                        </div>
                    </form>
                </div>

            </div>
 
            <div class="row" >
            <div class="col-lg-6">
                <div style="margin-top:100px" class="card">
                    <div class="card-header">
                        <strong>Add Category</strong>
                    </div>
                    <div class="card-body ">
                        <form action="/addcategory" method="post"  class="form-horizontal">
                           
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="category" class=" form-control-label"> New Category</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" re id="category" required name="category" placeholder="New category" class="form-control"
                                        >
                                    <small class="form-text text-muted">Add category</small>
                                </div>
                            </div>
                           
                            
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fa fa-dot-circle-o"></i> Add Category
        
                                </button>
                                <button type="reset" class="btn btn-danger btn-sm">
                                    <i class="fa fa-ban"></i> Reset
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-6" style="height: 100%;">
                <div style="margin-top:100px" >
                    <h4>Category Table</h4>
                    <div class="col-lg-12" style="overflow-y:scroll;">
                        <table  class="table table-bordred table-striped" style="width:100%; 
                        overflow-y:auto; 
                        position:relative;
                        height: 100%; ">
                            <thead>
                                <th>category</th>
                                
                                <th>Delete</th>
                            </thead>
                            <tbody>

                                <% for (var i=0; i < category.length; i++ ) { %>
                                    <tr id="<%=category[i]._id %>">
                                        <td>
                                            <%=category[i].nameCategory%>
                                        </td>
                                        

                                        <td>
                                            <p data-placement="top" data-toggle="tooltip" title="Delete"><a
                                                    href="/deletecategory/<%=category[i]._id %>"><button
                                                        class="fa fa-trash" data-title="Delete" data-toggle="modal"
                                                        data-id="<%=category[i]._id %>" id="deletecategory"><span
                                                            class="glyphicon glyphicon-trash"></span></button></p>
                                        </td>

                                        <% } %>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>

            <div class="row">
                <div style="overflow-x:auto;">
                    <div class="col-md-12">
                        <h4>Product Table</h4>
                        <div class="table-responsive">
                            <table id="table_product" class="table table-bordred table-striped"
                                style="overflow-x:auto; display: block;">
                                <thead>
                                    <th>ID</th>
                                    <th>Name Product</th>
                                    <th>description</th>
                                    <th>price</th>
                                    <th>stored</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                    <th>Discount</th>
                                </thead>
                                <tbody>

                                    <% for (var i=0; i < count; i++ ) { %>
                                        <tr id="<%=found[i]._id%>">


                                            <td>
                                                <%=found[i]._id%>
                                            </td>
                                            <td>
                                                <%=found[i].captiond%>
                                            </td>
                                            <td>
                                                <%=found[i].descriptiond%>
                                            </td>
                                            <td>
                                                <%=found[i].priced%>
                                            </td>
                                            <td>
                                                <%=found[i].stored%>
                                            </td>

                                            <td>
                                                <p data-placement="top" data-toggle="tooltip" title="Edit"><a
                                                        href="/edit/<%=found[i]._id%>"><button onclick="myFunction()"
                                                            class="fa fa-edit" data-title="Edit" data-toggle="modal"
                                                            data-target="#edit"><span
                                                                class="glyphicon glyphicon-pencil"></span></button></a>
                                                </p>
                                            </td>

                                            <td>
                                                <p data-placement="top" data-toggle="tooltip" title="Delete"><a
                                                        href="/delete/<%=found[i]._id %>"><button class="fa fa-trash"
                                                            data-title="Delete" data-toggle="modal"
                                                            data-id="<%=found[i]._id %>" id="deleteitem"><span
                                                                class="glyphicon glyphicon-trash"></span></button></p>
                                            </td>

                                            <td>
                                                <p data-placement="top" data-toggle="tooltip" title="Discount"><a
                                                        href="/discount/<%=found[i]._id%>"><button class="fa fa-percent"
                                                            data-title="Delete" data-toggle="modal"
                                                            data-id="<%=found[i]._id %>" id="discountb"><span
                                                                class="glyphicon glyphicon-trash"></span></button></p>
                                            </td>
                                            <% } %>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <%- include('partials/footer'); -%>