<%- include('partials/header'); -%>
    <!-- USER DATA-->
    <div class="user-data m-b-30">
        <h3 class="title-3 m-b-30">
            <i class="zmdi zmdi-account-calendar"></i>admin data
        </h3>

        <div class="table-responsive table-data">

            <table id="mytable" class="table table-bordred table-striped">
                <thead>
                    <tr>
                        <td>
                            <label class="au-checkbox">
                                <input type="checkbox">
                                <span class="au-checkmark"></span>
                            </label>
                        </td>
                        <td>Email</td>
                        <td>role</td>
                        <td>type</td>
                        <td>delete</td>
                        <td>save</td>
                    </tr>

                </thead>

                <tbody>

                    <% for (var i=0; i < count1; i++ ) { %>
                        <tr id="<%=found1[i]._id%>">
                            <td>
                                <label class="au-checkbox">
                                    <input type="checkbox">
                                    <span class="au-checkmark"></span>
                                </label>
                            </td>
                            <td>
                                <div class="table-data__info">


                                    <a href="https://www.gmail.com">
                                        <%=found1[i].username%>
                                    </a>

                                </div>
                            </td>
                            <td>
                                <% if(found1[i].__v===1){ %>
                                    <span class="role admin">Manager</span>
                                    <% } else{ %>
                                        <span class="role user">admin</span>
                                        <% } %>
                            </td>
                            <% if(adminpage.email !== found1[i].email){ %>
                            <form method="post" action="/editrole/<%=found1[i]._id%>">
                                <td>
                                    <div class="rs-select2--trans rs-select2--sm">
                                        <% if(found1[i].__v==1){ %>
                                            <select class="js-select2" id="selectrole" name="<%=found1[i]._id%>">
                                                <option selected="selected" value="1">Full Control</option>
                                                <option value="0">Post</option>
                                            </select>

                                            <div class="dropDownSelect2"></div>
                                            <% } else{ %>
                                                <select class="js-select2" id="selectrole" name="<%=found1[i]._id%>">
                                                    <option value="1">Full Control</option>
                                                    <option selected="selected" value="0">Post</option>
                                                </select>

                                                <div class="dropDownSelect2"></div>
                                                <% } %>


                                    </div>
                                </td>

                                <td>
                                    <p data-placement="top" data-toggle="tooltip" title="Delete"><a
                                            href="/deleteadmin/<%=found1[i]._id %>"><button class="fa fa-trash"
                                                data-title="Delete" data-toggle="modal" data-id="<%=found1[i]._id %>"
                                                id="deleteadmin"><span
                                                    class="glyphicon glyphicon-trash"></span></button></a></p>
                                </td>
                                <td>
                                    <div style="display: none;" id="<%=found1[i]._id %>1" class="hidebutton">
                                        <button type="submit" class="fa fa-edit" data-id="<%=found1[i]._id%>"
                                            data-placement="top" data-toggle="tooltip" title="save edit"><span
                                                class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                </td>
                            </form>
                            <% } %>
                            <% } %>
                        <tr>
                </tbody>
            </table>

        </div>
    </div>

    <!-- END USER DATA-->
    </div>
    <!-- END PAGE CONTAINER-->

    </div>

    <%- include('partials/footer'); -%>