<%- include('partials/header'); -%>
    <div class="col-lg-12">
        <div style="margin-top:100px" class="card">
            <div class="card-header">
                <strong>add new product</strong>
            </div>
            <div class="card-body ">
                <form action="/edit/<%=decs._id%>" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label class=" form-control-label">Static</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <p class="form-control-static">Username admin</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="caption" class=" form-control-label"> Input caption</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="caption" name="caption1" placeholder="Text" class="form-control"
                                value=" <%=decs.captiond%>">
                            <small class="form-text text-muted">This is a help text</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label"> price</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input value=" <%=decs.priced%>" type="text" id="price" name="price" placeholder="$0"
                                class="form-control">
                            <small class="form-text text-muted"></small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="barcode" class=" form-control-label"> barcode</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input value=" <%=decs._id%>" type="text" id="barcode" name="barcode"
                                placeholder="|bar|code|" class="form-control">
                            <small class="form-text text-muted"></small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="stored" class=" form-control-label"> stored</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input value=" <%=decs.stored%>" type="text" id="stored" name="stored" placeholder="stored"
                                class="form-control">
                            <small class="form-text text-muted"></small>
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="textarea-input" class="form-control-label">Input description</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input value=" <%=decs.descriptiond%>" name="description" id="descriptiont"
                                placeholder="Content..." class="form-control">
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="select" class=" form-control-label">Product department</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="select" id="select" class="form-control">
                                <option value="<%=decs.departmentd%>">
                                    <%=decs.departmentd%>
                                </option>
                                <% for (var i=0; i < category.length; i++ ) { %>
                                    
                                    <option value="<%=category[i].nameCategory%>"><%=category[i].nameCategory%></option>
                                    <%}%>
                            </select>
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="im" class=" form-control-label">Multiple File input</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="file" id="im" name="im" class="form-control-file "
                                accept="image/png, image/jpeg" multiple>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Edit

                        </button>
                        <button type="reset" class="btn btn-danger btn-sm">
                            <i class="fa fa-ban"></i> Reset
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); -%>