
<%var x = 0 %>

<% cart.forEach(function(product){ %>

<tr>
    <td class="shoping__cart__item">
        <img style="width: 100px; height: 100px;" src="/<%=product.image%>" alt="">
        <h5><%=product.caption%></h5>
    </td>
    <td class="shoping__cart__price">
        <%=product.price%>
    </td>
    <td class="shoping__cart__quantity">
        <div class="quantity">
            <div class="pro-qty">
                <input type="text" value="<%=product.qy%>">
            </div>
        </div>
    </td>
    <%var qty =product.qy * product.price %>
    
    <% x = qty+x %>
    <td class="shoping__cart__total">
        <%=qty%>

    </td>
    <td class="shoping__cart__item__close">
        <span class="icon_close"></span>
    </td>
    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><a ><button  class="btn btn-danger btn-xs glyphicon glyphicon-trash" data-id="<%=product.barcode %>" id="deletep" data-title="Delete" data-toggle="modal" ><span class="glyphicon glyphicon-trash"></span></button></p></td>

</tr>
<%});%>
