<%- include('partials/headerpublic'); -%>


    <!-- Shoping Cart Section Begin -->
    <form method="GET" action="/deletepro" id="dele">
        <section id="change1" class="shoping-cart spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shoping__cart__table">
                            <% if (typeof cart !=="undefined" ) {%>
                                <table id="mytable">
                                    <thead>
                                        <tr>
                                            <th class="shoping__product">Products</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%var totalorder=0 %>
                                            <% cart.forEach(function(product){ %>

                                                <tr id="<%=product.barcode%>">
                                                    <td class="shoping__cart__item">
                                                        <img style="width: 100px; height: 100px;"
                                                            src="/<%=product.image%>" alt="">
                                                        <h5>
                                                            <%=product.caption%>
                                                        </h5>
                                                    </td>
                                                    <td class="shoping__cart__price">
                                                        <div class="priceitem<%=product.barcode%>">
                                                            <%=product.price%>
                                                        </div>
                                                    </td>
                                                    <%for (var i=0; i < foundprodct.length; i++) {%>
                                                        <% if (foundprodct[i]._id==product.barcode) {%>
                                                            <%var maxstored=foundprodct[i].stored%>
                                                                <% }%>
                                                                    <%}%>


                                                                        <td class="shoping__cart__quantity">
                                                                            <div class="quantity">
                                                                                <div class="pro-qty"
                                                                                    id="<%=product.barcode%>"
                                                                                    data-id="<%=maxstored%>">
                                                                                    <input type="text"
                                                                                        name="<%=product.barcode%>"
                                                                                        data-id="<%=maxstored%>"
                                                                                        class="<%=product.barcode%>1"
                                                                                        id="ss" value="<%=product.qy%>">
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <%var totalitem=product.qy * product.price %>

                                                                            <% totalorder=totalitem+totalorder %>
                                                                                <td class="shoping__cart__total">
                                                                                    <div class=" totalitem<%=product.barcode%> totalitem"
                                                                                        id="<%=product.price%>">
                                                                                        <%=totalitem.toFixed(2);%>
                                                                                    </div>

                                                                                </td>
                                                                                <td class="shoping__cart__item__close">
                                                                                    <span class="icon_close"></span>
                                                                                </td>
                                                                                <td>
                                                                                    <p data-placement="top"
                                                                                        data-toggle="tooltip"
                                                                                        title="Delete"><a><button
                                                                                                class=" btn-danger  fa fa-trash"
                                                                                                data-id="<%=product.barcode %>"
                                                                                                id="deletep"
                                                                                                data-title="Delete"
                                                                                                data-toggle="modal"><span
                                                                                                    class="glyphicon glyphicon-trash"></span></button>
                                                                                    </p>
                                                                                </td>
                                                </tr>
                                                <%});%>
                                    </tbody>
                                </table>
                                <% }else{ %>
                                    <h1>no Item checkout</h1>
                                    <% } %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shoping__cart__btns">
                            <a href="/" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                            <a href="/delete-cart" class="primary-btn cart-btn cart-btn-right"><span
                                    class="icon_loading"></span>
                                Delete Cart</a>
                        </div>
                    </div>
                    <div class="col-lg-3">

                    </div>
                    <div class="col-lg-6">
                        <div class="shoping__checkout">
                            <h5>Cart Total</h5>
                            <ul id="ch">

                                <li>Total <span class="totalorder">
                                        <%=totalorder%>
                                    </span><span class="text-success">JOD</span></li>
                            </ul>
                            <%total= totalorder%>
                            <a href="/checkout" class="primary-btn">PROCEED TO CHECKOUT</a>
                        </div>
                    </div>
                    <div class="col-lg-3">

                    </div>
                </div>
            </div>
        </section>
    </form>
    <!-- Shoping Cart Section End -->

    <%- include('partials/footerpublic'); -%>